<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>755780464767-l484m1evokuhlj5cga92n7denj50vjqv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.755780464767-l484m1evokuhlj5cga92n7denj50vjqv</string>
	<key>API_KEY</key>
	<string>AIzaSyBivLeQdYDZFcbj5imk5WMPdFt36aHWrVE</string>
	<key>GCM_SENDER_ID</key>
	<string>755780464767</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.cuppersMobile</string>
	<key>PROJECT_ID</key>
	<string>cuppers-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>cuppers-mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:755780464767:ios:70ca391d51653a291ecf4a</string>
</dict>
</plist>